WATestone/Web References/WebReference2/cardService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns="http://webservice.cardservice.rich.com" xmlns:ns1="http://org.apache.axis2/xsd" targetNamespace="http://webservice.cardservice.rich.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>cardService</wsdl:documentation>
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://webservice.cardservice.rich.com">
      <xs:element name="getCardType">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="cardnum" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getCardTypeResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getOk">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="ok" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getOkResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getCardApplyInfoFromSaleMan">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="ldid" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="saleCode" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="startTime" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="endTime" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getCardApplyInfoFromSaleManResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getCardInfoFromKsq">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="flownum" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getCardInfoFromKsqResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="getCardInfoFromKsqRequest">
    <wsdl:part name="parameters" element="ns:getCardInfoFromKsq" />
  </wsdl:message>
  <wsdl:message name="getCardInfoFromKsqResponse">
    <wsdl:part name="parameters" element="ns:getCardInfoFromKsqResponse" />
  </wsdl:message>
  <wsdl:message name="getOkRequest">
    <wsdl:part name="parameters" element="ns:getOk" />
  </wsdl:message>
  <wsdl:message name="getOkResponse">
    <wsdl:part name="parameters" element="ns:getOkResponse" />
  </wsdl:message>
  <wsdl:message name="getCardTypeRequest">
    <wsdl:part name="parameters" element="ns:getCardType" />
  </wsdl:message>
  <wsdl:message name="getCardTypeResponse">
    <wsdl:part name="parameters" element="ns:getCardTypeResponse" />
  </wsdl:message>
  <wsdl:message name="getCardApplyInfoFromSaleManRequest">
    <wsdl:part name="parameters" element="ns:getCardApplyInfoFromSaleMan" />
  </wsdl:message>
  <wsdl:message name="getCardApplyInfoFromSaleManResponse">
    <wsdl:part name="parameters" element="ns:getCardApplyInfoFromSaleManResponse" />
  </wsdl:message>
  <wsdl:portType name="cardServicePortType">
    <wsdl:operation name="getCardInfoFromKsq">
      <wsdl:input wsaw:Action="urn:getCardInfoFromKsq" message="ns:getCardInfoFromKsqRequest" />
      <wsdl:output wsaw:Action="urn:getCardInfoFromKsqResponse" message="ns:getCardInfoFromKsqResponse" />
    </wsdl:operation>
    <wsdl:operation name="getOk">
      <wsdl:input wsaw:Action="urn:getOk" message="ns:getOkRequest" />
      <wsdl:output wsaw:Action="urn:getOkResponse" message="ns:getOkResponse" />
    </wsdl:operation>
    <wsdl:operation name="getCardType">
      <wsdl:input wsaw:Action="urn:getCardType" message="ns:getCardTypeRequest" />
      <wsdl:output wsaw:Action="urn:getCardTypeResponse" message="ns:getCardTypeResponse" />
    </wsdl:operation>
    <wsdl:operation name="getCardApplyInfoFromSaleMan">
      <wsdl:input wsaw:Action="urn:getCardApplyInfoFromSaleMan" message="ns:getCardApplyInfoFromSaleManRequest" />
      <wsdl:output wsaw:Action="urn:getCardApplyInfoFromSaleManResponse" message="ns:getCardApplyInfoFromSaleManResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="cardServiceSoap11Binding" type="ns:cardServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getCardInfoFromKsq">
      <soap:operation soapAction="urn:getCardInfoFromKsq" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOk">
      <soap:operation soapAction="urn:getOk" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCardType">
      <soap:operation soapAction="urn:getCardType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCardApplyInfoFromSaleMan">
      <soap:operation soapAction="urn:getCardApplyInfoFromSaleMan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="cardServiceSoap12Binding" type="ns:cardServicePortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getCardInfoFromKsq">
      <soap12:operation soapAction="urn:getCardInfoFromKsq" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOk">
      <soap12:operation soapAction="urn:getOk" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCardType">
      <soap12:operation soapAction="urn:getCardType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCardApplyInfoFromSaleMan">
      <soap12:operation soapAction="urn:getCardApplyInfoFromSaleMan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="cardServiceHttpBinding" type="ns:cardServicePortType">
    <http:binding verb="POST" />
    <wsdl:operation name="getCardInfoFromKsq">
      <http:operation location="cardService/getCardInfoFromKsq" />
      <wsdl:input>
        <mime:content part="getCardInfoFromKsq" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="getCardInfoFromKsq" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOk">
      <http:operation location="cardService/getOk" />
      <wsdl:input>
        <mime:content part="getOk" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="getOk" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCardType">
      <http:operation location="cardService/getCardType" />
      <wsdl:input>
        <mime:content part="getCardType" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="getCardType" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCardApplyInfoFromSaleMan">
      <http:operation location="cardService/getCardApplyInfoFromSaleMan" />
      <wsdl:input>
        <mime:content part="getCardApplyInfoFromSaleMan" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="getCardApplyInfoFromSaleMan" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="cardService">
    <wsdl:port name="cardServiceHttpSoap11Endpoint" binding="ns:cardServiceSoap11Binding">
      <soap:address location="http://172.3.207.31:8080/cardservice_/services/cardService.cardServiceHttpSoap11Endpoint/" />
    </wsdl:port>
    <wsdl:port name="cardServiceHttpSoap12Endpoint" binding="ns:cardServiceSoap12Binding">
      <soap12:address location="http://172.3.207.31:8080/cardservice_/services/cardService.cardServiceHttpSoap12Endpoint/" />
    </wsdl:port>
    <wsdl:port name="cardServiceHttpEndpoint" binding="ns:cardServiceHttpBinding">
      <http:address location="http://172.3.207.31:8080/cardservice_/services/cardService.cardServiceHttpEndpoint/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>